<%- include("./includes/head.ejs") %>
<link href="/css/allpackageStyle.css" rel="stylesheet" type="text/css" />
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="breadcrumb-wrap">
          <h2>Package Sidebar</h2>
          <ul class="breadcrumb-links">
            <li><a href="/">Home</a><i class="bi bi-chevron-right"></i></li>
            <li>All Package</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./includes/end.ejs") %>
