<%- include("./includes/head.ejs") %>
<link href="/css/allproductStyle.css" rel="stylesheet" type="text/css" />
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="breadcrumb-wrap">
          <h2>Package Sidebar</h2>
          <ul class="breadcrumb-links">
            <li>
              <a href="/">Home</a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </li>
            <li>All Package</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Package   -->
<div class="package-sidebar-wrapper pt-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row mb-30">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="package-filter"><h5>Showing 1-5 of 10 Result</h5></div>
          </div>
        </div>
        <div class="row">
          <% for( var i=0; i<1; i++){ %>
          <!-- <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="package-card">
              <div class="package-thumb">
                <img
                  src="https://tourx-next.vercel.app/assets/images/package/p-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
              <div class="package-details">
                <div class="package-info">
                  <h5><span>$180</span>/Per Person</h5>
                  <h5><i class="flaticon-calendar"></i>5 Days/6 night</h5>
                </div>
                <h3>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <a href="/package-details">&nbsp;Paris Hill Tour</a>
                </h3>
                <div class="package-rating">
                  <strong
                    ><i class="bx bxs-star"></i><span>12k</span> Rating</strong
                  >
                </div>
              </div>
            </div>
          </div> -->

          <div class="post-module">
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date">
                <div class="day">27</div>
                <div class="month">Mar</div>
              </div>
              <img
                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg"
              />
            </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category">Photos</div>
              <h1 class="title">City Lights in New York</h1>
              <h2 class="sub_title">The city that never sleeps.</h2>
              <p class="description">
                New York, the largest city in the U.S., is an architectural
                marvel with plenty of historic monuments, magnificent buildings
                and countless dazzling skyscrapers.
              </p>
              <div class="post-meta">
                <span class="timestamp"
                  ><i class="fa fa-clock-">o</i> 6 mins ago</span
                ><span class="comments"
                  ><i class="fa fa-comments"></i
                  ><a href="#"> 39 comments</a></span
                >
              </div>
            </div>
          </div>

          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("./includes/end.ejs") %>
