<%- include("./includes/head.ejs") %> <%- include("./includes/navigation.ejs")
%>
<link href="/css/Navigation.css" rel="stylesheet" type="text/css" />
<div class="container-fluid" style="background: #eaeef7">
  <h1
    class="package-title mb-5 text-center text-capitalize"
    style="text-align: center"
  >
    Package Details
  </h1>

  <div class="package-details-wrapper pt-10" style="background: #eaeef7">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="package-details">
            <div class="package-thumb">
              <img
                src="https://tourx-next.vercel.app/assets/images/package/p-1.png"
                alt=""
                style="height: 500px !important"
              />
            </div>
            <div class="package-header">
              <div class="package-title">
                <h3>Western Express Northbound</h3>
                <strong
                  ><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
                  Mount Dtna, Spain</strong
                >
              </div>
              <div class="pd-review">
                <p>Excellent</p>
                <ul style="color: #353767 !important">
                  <li style="color: #353767 !important">
                    <i class="bx bxs-star"></i>
                  </li>
                  <li style="color: #353767 !important">
                    <i class="bx bxs-star"></i>
                  </li>
                  <li style="color: #353767 !important">
                    <i class="bx bxs-star"></i>
                  </li>
                  <li style="color: #353767 !important">
                    <i class="bx bxs-star"></i>
                  </li>
                  <li style="color: #353767 !important">
                    <i class="bx bx-star"></i>
                  </li>
                </ul>
                <p>800 Review</p>
              </div>
            </div>
            <div class="p-short-info">
              <div class="single-info">
                <i class="fa-solid fa-clock"></i>
                <div class="info-texts">
                  <strong>Duration</strong>
                  <p>Daily Tour</p>
                </div>
              </div>

              <div class="single-info">
                <div class="info-texts">
                  <strong>Group Slots</strong>
                  <p>30 People</p>
                </div>
              </div>
            </div>
            <div class="package-tab">
              <div class="tab-content p-tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade active show"
                  id="pills-home"
                  role="tabpanel"
                  aria-labelledby="pills-home-tab"
                >
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="tab-content-1">
                        <div class="p-overview">
                          <h5>Overview</h5>
                          <p>
                            Pellentesque accumsan magna in augue sagittis, non
                            fringilla eros molestie. Sed feugiat mi nec ex
                            vehicula, nec vestibulum orci semper. Class aptent
                            taciti sociosqu ad litora torquent per conubia
                            nostra, per inceptos himenaeos. Donec tristique
                            commodo fringilla. Duis aliquet varius mauris eget
                            rutrum. Nullam sit amet justo consequat, bibendum
                            orci in, convallis enim. Proin convallis neque
                            viverra finibus cursus. Mauris lacinia lacinia erat
                            in finibus. In non enim libero.Pellentesque accumsan
                            magna in augue sagittis, non fringilla eros
                            molestie. Sed feugiat mi nec ex vehicula, nec
                            vestibulum orci semper. Class aptent taciti sociosqu
                            ad litora torquent per conubia nostra.
                          </p>
                        </div>
                        <div class="p-highlight">
                          <h5>Highlight</h5>
                          <ul>
                            <li>
                              <i
                                class="bx bx-circle"
                                style="color: #353767 !important"
                              ></i>
                              <p>
                                Pellentesque accumsan magna in augue sagittis,
                                non fringilla eros molestie.
                              </p>
                            </li>
                            <li>
                              <i
                                class="bx bx-circle"
                                style="color: #353767 !important"
                              ></i>
                              <p>
                                Pellentesque accumsan magna in augue sagittis,
                                non fringilla eros molestie.
                              </p>
                            </li>
                            <li>
                              <i
                                class="bx bx-circle"
                                style="color: #353767 !important"
                              ></i>
                              <p>
                                Pellentesque accumsan magna in augue sagittis,
                                non fringilla eros molestie.
                              </p>
                            </li>
                            <li>
                              <i
                                class="bx bx-circle"
                                style="color: #353767 !important"
                              ></i>
                              <p>
                                Pellentesque accumsan magna in augue sagittis,
                                non fringilla eros molestie.
                              </p>
                            </li>
                            <li>
                              <i
                                class="bx bx-circle"
                                style="color: #353767 !important"
                              ></i>
                              <p>
                                Pellentesque accumsan magna in augue sagittis,
                                non fringilla eros molestie.
                              </p>
                            </li>
                            <li>
                              <i
                                class="bx bx-circle"
                                style="color: #353767 !important"
                              >
                              </i>
                              <p>
                                Pellentesque accumsan magna in augue sagittis,
                                non fringilla eros molestie.
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="p-details-table">
                          <table class="table caption-top">
                            <tbody>
                              <tr>
                                <td>Destination</td>
                                <td>New York City</td>
                              </tr>
                              <tr>
                                <td>Depature</td>
                                <td>Yes Required</td>
                              </tr>
                              <tr>
                                <td>Departure Time</td>
                                <td>01 April, 2021 10.00AM</td>
                              </tr>
                              <tr>
                                <td>Return Time</td>
                                <td>08 April, 2021 10.00AM</td>
                              </tr>
                              <tr>
                                <td>Included</td>
                                <td>
                                  <ul class="table-list-allow">
                                    <li>
                                      <i class="bx bx-check"></i> Specilaized
                                      Bilingual Guide
                                    </li>
                                    <li>
                                      <i class="bx bx-check"></i> Private
                                      Transport
                                    </li>
                                    <li>
                                      <i class="bx bx-check"></i> Entrance Fees
                                    </li>
                                    <li>
                                      <i class="bx bx-check"></i> Box
                                      Lunch,Water,Dinner and Snacks
                                    </li>
                                  </ul>
                                </td>
                              </tr>
                              <tr>
                                <td>Excluded</td>
                                <td>
                                  <ul class="table-list-disallow">
                                    <li>
                                      <i class="bx bx-x"></i> Additional
                                      Services
                                    </li>
                                    <li><i class="bx bx-x"></i> Insurance</li>
                                    <li><i class="bx bx-x"></i> Drink</li>
                                    <li><i class="bx bx-x"></i> Tickets</li>
                                  </ul>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2" class="table-bottom">
                                  <i
                                    style="color: #353767 !important"
                                    class="fa fa-bus"
                                    aria-hidden="true"
                                  ></i
                                  >Travel With Bus
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="p-rationg">
                          <h5>Rating</h5>
                          <div class="rating-card">
                            <div class="r-card-avarag">
                              <h2 style="color: #353767 !important">4.9</h2>
                              <h5>Excellent</h5>
                            </div>
                            <div class="r-card-info">
                              <ul>
                                <li>
                                  <strong>Accommodation</strong>
                                  <ul class="r-rating">
                                    <li style="color: #353767 !important">
                                      <i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i>
                                    </li>
                                  </ul>
                                </li>
                                <li>
                                  <strong>Transport</strong>
                                  <ul class="r-rating">
                                    <li style="color: #353767 !important">
                                      <i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i
                                      ><i class="bx bx-star"></i
                                      ><i class="bx bx-star"></i>
                                    </li>
                                  </ul>
                                </li>
                                <li>
                                  <strong>Comfort</strong>
                                  <ul class="r-rating">
                                    <li style="color: #353767 !important">
                                      <i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i
                                      ><i class="bx bx-star"></i>
                                    </li>
                                  </ul>
                                </li>
                                <li>
                                  <strong>Hospitality</strong>
                                  <ul
                                    class="r-rating"
                                    style="color: #353767 !important"
                                  >
                                    <li style="color: #353767 !important">
                                      <i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i
                                      ><i class="bx bx-star"></i>
                                    </li>
                                  </ul>
                                </li>
                                <li>
                                  <strong>Food</strong>
                                  <ul
                                    class="r-rating"
                                    style="color: #353767 !important"
                                  >
                                    <li style="color: #353767 !important">
                                      <i class="bx bxs-star"></i
                                      ><i class="bx bxs-star"></i
                                      ><i class="bx bx-star"></i
                                      ><i class="bx bx-star"></i
                                      ><i class="bx bx-star"></i>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-profile"
                  role="tabpanel"
                  aria-labelledby="pills-profile-tab"
                >
                  <div class="tab-content-2">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="p-timeline-overview">
                          <h5>Overview</h5>
                          <p>
                            Pellentesque accumsan magna in augue sagittis, non
                            fringilla eros molestie. Sed feugiat mi nec ex
                            vehicula, nec vestibulum orci semper. Class aptent
                            taciti sociosqu ad litora torquent per conubia
                            nostra, per inceptos himenaeos. Donec tristique
                            commodo fringilla. Duis aliquet varius mauris eget
                            rutrum. Nullam sit amet justo consequat, bibendum
                            orci in, convallis enim. Proin convallis neque
                            viverra finibus cursus. Mauris lacinia lacinia erat
                            in finibus.
                          </p>
                        </div>
                        <ul class="p-timeline">
                          <li>
                            <div class="timeline-index">
                              <div class="index-circle"><h5>01</h5></div>
                            </div>
                            <div class="timeline-content">
                              <h5>DAY 1 : Departure And Small Tour</h5>
                              <strong>10.00 AM to 10.00 PM</strong>
                              <p>
                                Pellentesque accumsan magna in augue sagittis,
                                non fringilla eros molestie. Sed feugiat mi nec
                                ex vehicula, nec vestibulum orci semper. Class
                                aptent taciti sociosqu ad litora torquent per
                                conubia nostra, per inceptos himenaeos. Donec
                                tristique commodo fringilla.
                              </p>
                              <ul>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Specilaized
                                  Bilingual Guide
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Private Transport
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Entrance Fees
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Box
                                  Lunch,Water,Dinner and Snacks
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li>
                            <div class="timeline-index">
                              <div class="index-circle"><h5>02</h5></div>
                            </div>
                            <div class="timeline-content">
                              <h5>DAY 2 : Departure And Small Tour</h5>
                              <strong>10.00 AM to 10.00 PM</strong>
                              <p>
                                Pellentesque accumsan magna in augue sagittis,
                                non fringilla eros molestie. Sed feugiat mi nec
                                ex vehicula, nec vestibulum orci semper. Class
                                aptent taciti sociosqu ad litora torquent per
                                conubia nostra, per inceptos himenaeos. Donec
                                tristique commodo fringilla.
                              </p>
                              <ul>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Specilaized
                                  Bilingual Guide
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Private Transport
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Entrance Fees
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Box
                                  Lunch,Water,Dinner and Snacks
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li>
                            <div class="timeline-index">
                              <div class="index-circle"><h5>03</h5></div>
                            </div>
                            <div class="timeline-content">
                              <h5>DAY 3 : Departure And Small Tour</h5>
                              <strong>10.00 AM to 10.00 PM</strong>
                              <p>
                                Pellentesque accumsan magna in augue sagittis,
                                non fringilla eros molestie. Sed feugiat mi nec
                                ex vehicula, nec vestibulum orci semper. Class
                                aptent taciti sociosqu ad litora torquent per
                                conubia nostra, per inceptos himenaeos. Donec
                                tristique commodo fringilla.
                              </p>
                              <ul>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Specilaized
                                  Bilingual Guide
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Private Transport
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Entrance Fees
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Box
                                  Lunch,Water,Dinner and Snacks
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li>
                            <div class="timeline-index">
                              <div class="index-circle"><h5>04</h5></div>
                            </div>
                            <div class="timeline-content">
                              <h5>DAY 4 : Departure And Small Tour</h5>
                              <strong>10.00 AM to 10.00 PM</strong>
                              <p>
                                Pellentesque accumsan magna in augue sagittis,
                                non fringilla eros molestie. Sed feugiat mi nec
                                ex vehicula, nec vestibulum orci semper. Class
                                aptent taciti sociosqu ad litora torquent per
                                conubia nostra, per inceptos himenaeos. Donec
                                tristique commodo fringilla.
                              </p>
                              <ul>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Specilaized
                                  Bilingual Guide
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Private Transport
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Entrance Fees
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Box
                                  Lunch,Water,Dinner and Snacks
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li>
                            <div class="timeline-index">
                              <div class="index-circle"><h5>05</h5></div>
                            </div>
                            <div class="timeline-content">
                              <h5>DAY 5 : Departure And Small Tour</h5>
                              <strong>10.00 AM to 10.00 PM</strong>
                              <p>
                                Pellentesque accumsan magna in augue sagittis,
                                non fringilla eros molestie. Sed feugiat mi nec
                                ex vehicula, nec vestibulum orci semper. Class
                                aptent taciti sociosqu ad litora torquent per
                                conubia nostra, per inceptos himenaeos. Donec
                                tristique commodo fringilla.
                              </p>
                              <ul>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Specilaized
                                  Bilingual Guide
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Private Transport
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Entrance Fees
                                </li>
                                <li></li>
                                <li>
                                  <i class="bx bx-check"></i>Box
                                  Lunch,Water,Dinner and Snacks
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-contact"
                  role="tabpanel"
                  aria-labelledby="pills-contact-tab"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
