<%- include("./includes/head.ejs") %> <%- include("./includes/navigation.ejs")
%>
<link href="/css/Navigation.css" rel="stylesheet" type="text/css" />
<div class="breadcrumb-area pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="breadcrumb-wrap">
          <h2>Package Sidebar</h2>
          <ul class="breadcrumb-links">
            <li>
              <a href="/">Home</a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </li>
            <li>Blog Details</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
