.explore{
    text-align: center;
    /* background-color:#EAEEF7 ;
    margin: 3rem 0; */
}
.exploreHeading{
    position: absolute;
    top: 100px;
    left: 35%;
    color:#353767;
}

.containerBox {
    /* width: 900px; */
    /* background: white; */
    background-color:#EAEEF7 ;
    /* border-radius: 25px; */
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    /* padding: 6px 10px ; */
    
  }
  
  .wrapper {
    margin: 8px 0;
  }
  
  
  .search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    margin-bottom: 2rem;
  }
  
  input {
    min-width: 14px;
    padding: 12px;
    margin: 0 4px 0 0;
    border: 2px solid #353767;
    border-radius: 5px;
    height: 40px;
  }

  input::placeholder{
    color:#353767;
  }
  
  .button {
    padding: 6px 30px;
    font-size: 15px;
    /* min-height: 48px; */
    min-width: 10px;
    margin-left: 5px;
    /* margin-top: -3px; */
    /* word-wrap: nowrap; */
    background: #353767;
    color: #fff;
    /* border: 1px solid #fff; */
    border-radius: 25px;
  }
  
  input {
      order: 0;
      align-self: auto;  
      
  }
  
  .search {
    flex: 2 1 auto;
  }
  
  .date-from {
    flex: 1 1 auto;
  }
  
  .date-to {
    flex: 1 1 auto;
  }
  
  .button {
      order: 4;
      flex: 0 1 auto;
      align-self: auto;
  }
  @media (max-width: 768px) {

  }

  
  #quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



.testimonial{
    display: flex;
    justify-content: center;
}

figure.snip1157 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}
figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 25px 50px 30px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}
figure.snip1157 .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.snip1157 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1157 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

.company {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .company-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .img {
    width: 100%;
    margin: 1rem 0rem 0rem 2rem;
  }
  
  .img img {
    width: 100%;
  }
  
  .company-info {
    width: 100%;
    margin-right: 4rem;
  }
  
  .company-info span {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .company-info span .our {
    color: #ffdc0e;
  }
  
  .company-info p{
    font-size: 1.1rem;
  }
  /* ----------------------------------------------- */
  
  .team {
    display: flex;
    justify-content: center;
  }
  
  .team span {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 4px solid #ffdc0e;
  }
  
  .container3 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card {
    position: relative;
    background: #fff;
    max-width: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
  }
  
  .card-image {
    max-height: 50vh;
    overflow: hidden;
  }
  
  .card-image img {
    max-width: 100%;
    height: auto;
    visibility: hidden;
  }
  
  .card-title span {
    visibility: hidden;
  }
  
  .yellow-surname {
    color: #ffdc0e;
  }
  
  .card-description span {
    visibility: hidden;
  }
  
  .card-mediaIcons a i {
    visibility: hidden;
  }
  
  .card-info {
    position: relative;
    color: #222;
    padding: 20px;
  }
  
  .card-info h3 {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .card-info h4 {
    font-size: 1rem;
    font-weight: normal;
  }
  
  .card-info a {
    text-decoration: none;
    color: navy;
  }
  
  .card-info p {
    font-size: 1em;
    margin-bottom: 15px;
  }
  
  .card-info .card-mediaIcons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-info .card-mediaIcons a {
    color: #999;
    font-size: 1.4em;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    transition: color 0.3s ease;
  }
  
  .card-info .card-mediaIcons a:hover {
    color: #222;
  }
  
  .card-mediaIcons a img {
    width: 40px;
  }
  
  .loading {
    position: relative;
    background: #e2e2e2;
    overflow: hidden;
  }
  
  .loading:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    transform: translateX(-100%);
    animation: loading 1.5s infinite;
  }
  
  .info {
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  @keyframes loading {
    100% {
      transform: translateX(100%);
    }
  }
  
  /* ------------------------------footer---------------------------------------- */
  footer {
    background: #121212;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details {
    color: #fdd166;
    font-size: 30px;
  }
  .content .top .media-icons {
    display: flex;
  }
  .content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1) {
    background: #4267b2;
  }
  .top .media-icons a:nth-child(1):hover {
    color: #4267b2;
    background: #fff;
  }
  
  .top .media-icons a:nth-child(2) {
    background: #e1306c;
  }
  .top .media-icons a:nth-child(2):hover {
    color: #e1306c;
    background: #fff;
  }
  
  footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fdd166;
  }
  .content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
  }
  .content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box {
    margin-right: 55px;
  }
  .link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #afafb6;
    background: #140b5c;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder {
    color: #afafb6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140b5c;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover {
    opacity: 1;
  }
  footer .bottom-details {
    width: 100%;
    background: #000;
    border-top: 0.5px solid #fff;
  }
  footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a {
    margin-right: 10px;
  }
  
  /* ------------------------------------------media-footer------------------------------------------- */
  @media (max-width: 900px) {
    .company-info {
      width: 100%;
      margin-right: 0rem;
      margin-left: 1rem;
    }
    .company-info p{
      margin-right: 2rem;
      text-align: center;
    }
    .company-info span {
      font-size: 1.7rem;
      font-weight: bold;
      text-align: center;
    }
    .team {
      display: flex;
      justify-content: center;
    }
  
    .team span {
      font-size: 1.7rem;
      font-weight: bold;
    }
    .company {
      display: flex;
      flex-direction: column;
    }
    .img {
      margin-left: 0rem;
    }
    footer .content .link-boxes {
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box {
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px) {
    footer {
      position: relative;
    }
    .content .top .logo-details {
      font-size: 26px;
    }
    .content .top .media-icons a {
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box {
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box {
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
      font-size: 12px;
    }
  }
  @media (max-width: 520px) {
    footer::before {
      top: 145px;
    }
    footer .content .top {
      flex-direction: column;
    }
    .content .top .media-icons {
      margin-top: 16px;
    }
    footer .content .link-boxes .box {
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box {
      width: 100%;
    }
  }
  @media(max-width:320px){
    .company-info p{
      margin-right: 0rem;
    }
  }
  /* ---------------------------------------------------------------------------- */


/* Demo purposes only */
/* html {
  height: 100%;
}
body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
} */